<nav>

  <div class="burger-menu" onclick="toggleMenu()">☰</div>

  <ul class="nav-links">
    <li>
      <a href="/movies">Movies</a>
    </li>
    <li>
      <a href="/genres">Genres</a>
    </li>
    <li>
      <a href="/directors">Directors</a>
    </li>
    <li>
      <a href="/movies/add-movie">Add Movie</a>
    </li>
  </ul>

</nav>